In [14]:
import pandas as pd
import numpy as np

In [15]:
nba_data = pd.read_csv('finalized_nba_data_set.csv', index_col = 0).reset_index()

In [35]:
nba_data.drop(columns = ['WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Age.1', 
                         'G','GS', 'index', 'OWS', 'DWS', 'L', 'MOV', 'SOS', 'ORtg', 
                         'NRtg', 'MPG','MP', 'PER', 'DRtg'], inplace = True)

In [36]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.formula.api import ols

from matplotlib import pyplot as plt

from sklearn import linear_model
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler

import seaborn as sns

import pickle

In [37]:
target = nba_data['W']

In [38]:
features_list = []

In [39]:
for x in nba_data:
    if (x == 'W') or (x == 'Tm') or (x == 'year') or (x == 'Pace'):
        pass
    else:
        features_list.append(x)

In [40]:
features = nba_data[features_list]

In [44]:
len(features_list)

42

In [41]:
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=23,test_size=0.2)

In [42]:
scaler = StandardScaler()
final_scaler = scaler.fit(X_train)
X_train =pd.DataFrame(data=scaler.transform(X_train), columns=features_list)
X_test =pd.DataFrame(data=scaler.transform(X_test), columns=features_list)

In [43]:
#instantiate a linear regression object
lm = LinearRegression()

#fit the linear regression to the data
lm = lm.fit(X_train, y_train)

y_train_pred = lm.predict(X_train)

train_rmse = np.sqrt(metrics.mean_squared_error((y_train), y_train_pred))


print('Training Root Mean Squared Error:' , train_rmse)

y_pred = lm.predict(X_test)

test_rmse = np.sqrt(metrics.mean_squared_error((y_test), y_pred))

print('Testing Root Mean Squared Error:' , test_rmse)


print('Training: ', float(train_rmse), "vs. Testing: ", float(test_rmse))

Training Root Mean Squared Error: 2.4679398977349782
Testing Root Mean Squared Error: 3.915033816453321
Training:  2.4679398977349782 vs. Testing:  3.915033816453321

In [3]:
nba_data.columns

Index(['index', 'Age', 'W', 'L', 'MOV', 'SOS', 'ORtg', 'DRtg', 'NRtg', 'Pace',
       'eFG%', 'TOV%', 'ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%',
       'FT/FGA.1', 'Tm', 'Age.1', 'G', 'GS', 'MPG', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%.1.1', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%.1', 'DRB%.1', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%.1.1', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'year'],
      dtype='object')

In [4]:
# nba_data.drop(columns = ['ORB%.1', 'DRB%.1', 'TOV%.1.1', 'USG%', 'WS', 
#                          'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Age.1', 
#                          'G','GS', 'eFG%.1.1', 'index', 'OWS', 'DWS', 'L', 
#                          'eFG%', 'TOV%', 'FT/FGA', '3P', '3PA', 'FT',
#                          'FTA', 'ORB', 'DRB', 'DRB%','MOV', 'SOS', 'ORtg', 
#                          'NRtg', 'MPG', '2P', 'MP', 'FG', 'PER', 'DRtg'], inplace = True)

In [5]:
nba_data.columns

Index(['Age', 'W', 'Pace', 'ORB%', 'eFG%.1', 'TOV%.1', 'FT/FGA.1', 'Tm', 'FGA',
       'FG%', '3P%', '2PA', '2P%', 'FT%', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'TS%', '3PAr', 'FTr', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'year'],
      dtype='object')

In [45]:
nba_data.rename(columns = {'eFG%.1': 'Dfg%', 'TOV%.1': 'Dtov%', 'FT/FGA.1':'Dft/fga'}, inplace = True)

In [46]:
nba_data['year'] = [x/10 for x in nba_data['year']]

In [47]:
nba_data

,Age,W,Pace,eFG%,TOV%,ORB%,FT/FGA,Dfg%,Dtov%,DRB%,...,FTr,ORB%.1,DRB%.1,TRB%,AST%,STL%,BLK%,TOV%.1.1,USG%,year
0,27.5,38,94.6,0.515,14.3,21.0,0.208,0.510,14.0,74.4,...,2.539,45.7,155.5,101.1,167.2,16.3,14.7,132.1,201.4,2014.0
1,25.4,25,93.3,0.477,14.2,27.4,0.193,0.505,13.4,74.2,...,2.606,54.9,145.5,99.0,151.4,16.2,12.5,146.8,196.7,2014.0
2,30.0,44,91.4,0.514,14.1,21.7,0.236,0.509,14.9,72.3,...,3.531,49.0,159.3,104.3,143.2,19.5,15.7,139.7,195.2,2014.0
3,28.6,48,90.2,0.471,14.2,27.2,0.226,0.471,13.7,75.4,...,2.860,58.2,152.9,106.3,153.5,15.6,16.8,137.1,196.1,2014.0
4,25.5,43,92.4,0.481,11.7,21.9,0.219,0.491,12.6,77.6,...,3.574,49.2,160.8,104.7,134.3,12.4,19.1,117.7,184.8,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,24.8,39,103.1,0.524,11.5,23.1,0.177,0.533,13.6,75.5,...,2.312,40.9,144.2,91.4,136.9,14.9,14.3,99.9,190.8,2019.0
176,28.8,48,98.3,0.534,11.0,21.0,0.194,0.528,11.0,79.4,...,2.069,44.5,155.5,100.4,138.2,12.4,16.7,108.6,186.4,2019.0
177,27.3,58,100.2,0.543,12.4,21.9,0.198,0.509,13.1,77.1,...,2.251,39.9,149.5,96.1,159.4,17.4,17.7,120.7,193.5,2019.0
178,27.3,50,100.3,0.538,13.4,22.9,0.217,0.507,12.4,80.3,...,2.839,41.6,159.2,101.5,154.7,17.1,16.7,133.3,192.0,2019.0
179,26.5,32,101.4,0.531,12.3,21.3,0.204,0.546,13.5,74.1,...,2.487,42.9,160.0,100.6,153.3,16.3,17.4,113.5,206.8,2019.0

In [48]:
nba_data.to_csv('nba_data_for_modeling.csv')