In [1]:
import pandas as pd
import numpy as np

In [2]:
nba_data = pd.read_csv('finalized_nba_data_set.csv', index_col = 0).reset_index()

In [3]:
nba_data.columns

Index(['index', 'Age', 'W', 'L', 'MOV', 'SOS', 'ORtg', 'DRtg', 'NRtg', 'Pace',
       'eFG%', 'TOV%', 'ORB%', 'FT/FGA', 'eFG%.1', 'TOV%.1', 'DRB%',
       'FT/FGA.1', 'Tm', 'Age.1', 'G', 'GS', 'MPG', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%.1.1', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%.1', 'DRB%.1', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%.1.1', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'year'],
      dtype='object')

In [4]:
nba_data.drop(columns = ['ORB%.1', 'DRB%.1', 'TOV%.1.1', 'USG%', 'WS', 
                         'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Age.1', 
                         'G','GS', 'eFG%.1.1', 'index', 'OWS', 'DWS', 'L', 
                         'eFG%', 'TOV%', 'FT/FGA', '3P', '3PA', 'FT',
                         'FTA', 'ORB', 'DRB', 'DRB%','MOV', 'SOS', 'ORtg', 
                         'NRtg', 'MPG', '2P', 'MP', 'FG', 'PER', 'DRtg'], inplace = True)

In [5]:
nba_data.columns

Index(['Age', 'W', 'Pace', 'ORB%', 'eFG%.1', 'TOV%.1', 'FT/FGA.1', 'Tm', 'FGA',
       'FG%', '3P%', '2PA', '2P%', 'FT%', 'TRB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'TS%', '3PAr', 'FTr', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'year'],
      dtype='object')

In [6]:
nba_data.rename(columns = {'eFG%.1': 'Dfg%', 'TOV%.1': 'Dtov%', 'FT/FGA.1':'Dft/fga'}, inplace = True)

In [7]:
nba_data['year'] = [x/10 for x in nba_data['year']]

In [8]:
nba_data

,Age,W,Pace,ORB%,Dfg%,Dtov%,Dft/fga,Tm,FGA,FG%,...,PF,PTS,TS%,3PAr,FTr,TRB%,AST%,STL%,BLK%,year
0,27.5,38,94.6,21.0,0.510,14.0,0.196,ATL,92.6,4.664,...,20.5,116.3,5.624,3.247,2.539,101.1,167.2,16.3,14.7,2014.0
1,25.4,25,93.3,27.4,0.505,13.4,0.227,BOS,91.2,4.373,...,22.3,105.0,5.146,2.433,2.606,99.0,151.4,16.2,12.5,2014.0
2,30.0,44,91.4,21.7,0.509,14.9,0.236,BRK,77.2,4.745,...,21.0,97.8,5.559,2.504,3.531,104.3,143.2,19.5,15.7,2014.0
3,28.6,48,90.2,27.2,0.471,13.7,0.189,CHI,94.8,4.314,...,21.5,112.8,5.153,2.337,2.860,106.3,153.5,15.6,16.8,2014.0
4,25.5,43,92.4,21.9,0.491,12.6,0.183,CHO,84.8,4.550,...,18.1,101.6,5.408,2.437,3.574,104.7,134.3,12.4,19.1,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,24.8,39,103.1,23.1,0.533,13.6,0.207,SAC,100.8,4.569,...,20.2,124.3,5.559,3.654,2.312,91.4,136.9,14.9,14.3,2019.0
176,28.8,48,98.3,21.0,0.528,11.0,0.170,SAS,91.0,4.847,...,18.5,114.8,5.828,3.435,2.069,100.4,138.2,12.4,16.7,2019.0
177,27.3,58,100.2,21.9,0.509,13.1,0.190,TOR,97.1,4.694,...,21.3,125.6,5.781,3.992,2.251,96.1,159.4,17.4,17.7,2019.0
178,27.3,50,100.3,22.9,0.507,12.4,0.189,UTA,87.7,4.717,...,20.7,113.2,5.755,4.085,2.839,101.5,154.7,17.1,16.7,2019.0
179,26.5,32,101.4,21.3,0.546,13.5,0.199,WAS,114.9,4.670,...,23.8,143.4,5.687,3.828,2.487,100.6,153.3,16.3,17.4,2019.0

In [9]:
nba_data.to_csv('nba_data_for_modeling.csv')