In [1]:
import pandas as pd
import numpy as np

# 2019 nba players stats

In [2]:
nba_players_list_2019 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_per_game.html')

In [3]:
nba_players_2019 = nba_players_list_2019[0]

In [4]:
year_2019 = [2019 for x in nba_players_2019['Player']]

In [5]:
nba_players_2019.drop(columns = 'Rk', inplace = True)

In [6]:
nba_players_2019.rename(columns = {'MP': 'MPG'}, inplace = True)

In [7]:
nba_players_list_2019_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_advanced.html')

In [8]:
nba_players_2019_advanced = nba_players_list_2019_advanced[0]

In [9]:
nba_players_2019_advanced['year'] = year_2019

In [10]:
nba_players_2019_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2018 nba players stats

In [11]:
nba_players_list_2018 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2018_per_game.html')

In [12]:
nba_players_2018 = nba_players_list_2018[0]

In [13]:
year_2018 = [2018 for x in nba_players_2018['Player']]

In [14]:
nba_players_2018.drop(columns = 'Rk', inplace = True)

In [15]:
nba_players_2018.rename(columns = {'MP': 'MPG'}, inplace = True)

In [16]:
nba_players_list_2018_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2018_advanced.html')

In [17]:
nba_players_2018_advanced = nba_players_list_2018_advanced[0]

In [18]:
nba_players_2018_advanced['year'] = year_2018

In [19]:
nba_players_2018_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2017 nba players stats

In [20]:
nba_players_list_2017 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2017_per_game.html')

In [21]:
nba_players_2017 = nba_players_list_2017[0]

In [22]:
year_2017 = [2017 for x in nba_players_2017['Player']]

In [23]:
nba_players_2017.drop(columns = 'Rk', inplace = True)

In [24]:
nba_players_2017.rename(columns = {'MP': 'MPG'}, inplace = True)

In [25]:
nba_players_list_2017_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2017_advanced.html')

In [26]:
nba_players_2017_advanced = nba_players_list_2017_advanced[0]

In [27]:
nba_players_2017_advanced['year'] = year_2017

In [28]:
nba_players_2017_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2016 nba players stats

In [29]:
nba_players_list_2016 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_per_game.html')

In [30]:
nba_players_2016 = nba_players_list_2016[0]

In [31]:
year_2016 = [2016 for x in nba_players_2016['Player']]

In [32]:
nba_players_2016.drop(columns = 'Rk', inplace = True)

In [33]:
nba_players_2016.rename(columns = {'MP': 'MPG'}, inplace = True)

In [34]:
nba_players_list_2016_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_advanced.html')

In [35]:
nba_players_2016_advanced = nba_players_list_2016_advanced[0]

In [36]:
nba_players_2016_advanced['year'] = year_2016

In [37]:
nba_players_2016_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2015 nba players stats

In [38]:
nba_players_list_2015 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_per_game.html')

In [39]:
nba_players_2015 = nba_players_list_2015[0]

In [40]:
year_2015 = [2015 for x in nba_players_2015['Player']]

In [41]:
nba_players_2015.drop(columns = 'Rk', inplace = True)

In [42]:
nba_players_2015.rename(columns = {'MP': 'MPG'}, inplace = True)

In [43]:
nba_players_list_2015_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_advanced.html')

In [44]:
nba_players_2015_advanced = nba_players_list_2015_advanced[0]

In [45]:
nba_players_2015_advanced['year'] = year_2015

In [46]:
nba_players_2015_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2014 nba players stats

In [47]:
nba_players_list_2014 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2014_per_game.html')

In [48]:
nba_players_2014 = nba_players_list_2014[0]

In [49]:
year_2014 = [2014 for x in nba_players_2014['Player']]

In [50]:
nba_players_2014.drop(columns = 'Rk', inplace = True)

In [51]:
nba_players_2014.rename(columns = {'MP': 'MPG'}, inplace = True)

In [52]:
nba_players_list_2014_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2014_advanced.html')

In [53]:
nba_players_2014_advanced = nba_players_list_2014_advanced[0]

In [54]:
nba_players_2014_advanced['year'] = year_2014

In [55]:
nba_players_2014_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# Concating the Per game stats with Advanced Stats and cleaning data to get all ints/floats

In [56]:
nba_2019_players = pd.concat([nba_players_2019, nba_players_2019_advanced], axis = 1)

In [57]:
nba_2019_players.fillna(0, inplace = True)

In [58]:
nba_2019_players = nba_2019_players[~nba_2019_players.Player.str.startswith('Player')]

# returns all rows in the dataframe that dont start with Player

In [59]:
nba_2019_players = nba_2019_players.apply(pd.to_numeric, errors = 'ignore')

# applies a numeric type (float or int) to all columns that have entirely numeric values in them
# if a column does not have a numeric value it will ignore and move on

# that is why i had to first remove all the na values and turn them to 0's

In [60]:
nba_2018_players = pd.concat([nba_players_2018, nba_players_2018_advanced], axis = 1)

In [61]:
nba_2018_players.fillna(0, inplace = True)

In [62]:
nba_2018_players = nba_2018_players[~nba_2018_players.Player.str.startswith('Player')]

In [63]:
nba_2018_players = nba_2018_players.apply(pd.to_numeric, errors = 'ignore')

In [64]:
nba_2017_players = pd.concat([nba_players_2017, nba_players_2017_advanced], axis = 1)

In [65]:
nba_2017_players.fillna(0, inplace = True)

In [66]:
nba_2017_players = nba_2017_players[~nba_2017_players.Player.str.startswith('Player')]

In [67]:
nba_2017_players = nba_2017_players.apply(pd.to_numeric, errors = 'ignore')

In [68]:
nba_2016_players = pd.concat([nba_players_2016, nba_players_2016_advanced], axis = 1)

In [69]:
nba_2016_players.fillna(0, inplace = True)

In [70]:
nba_2016_players = nba_2016_players[~nba_2016_players.Player.str.startswith('Player')]

In [71]:
nba_2016_players = nba_2016_players.apply(pd.to_numeric, errors = 'ignore')

In [72]:
nba_2015_players = pd.concat([nba_players_2015, nba_players_2015_advanced], axis = 1)

In [73]:
nba_2015_players.fillna(0, inplace = True)

In [74]:
nba_2015_players = nba_2015_players[~nba_2015_players.Player.str.startswith('Player')]

In [75]:
nba_2015_players = nba_2015_players.apply(pd.to_numeric, errors = 'ignore')

In [76]:
nba_2014_players = pd.concat([nba_players_2014, nba_players_2014_advanced], axis = 1)

In [77]:
nba_2014_players.fillna(0, inplace = True)

In [78]:
nba_2014_players = nba_2014_players[~nba_2014_players.Player.str.startswith('Player')]

In [79]:
nba_2014_players = nba_2014_players.apply(pd.to_numeric, errors = 'ignore')

# Dropping Duplicate data for players who played on multiple teams (for possible averages over 6 seasons if necessary)

In [80]:
nba_players_totals = pd.concat([nba_2014_players.drop_duplicates(subset = ['Player'], keep = 'first', ignore_index = True),
                                nba_2015_players.drop_duplicates(subset = ['Player'], keep = 'first', ignore_index = True),
                                 nba_2016_players.drop_duplicates(subset = ['Player'], keep = 'first', ignore_index = True),
                                 nba_2017_players.drop_duplicates(subset = ['Player'], keep = 'first', ignore_index = True),
                                 nba_2018_players.drop_duplicates(subset = ['Player'], keep = 'first', ignore_index = True),
                                 nba_2019_players.drop_duplicates(subset = ['Player'], keep = 'first', ignore_index = True)], 
                                 ignore_index = True)


# dropping instances where a player played for more than 1 team by just keeping his 
# total numbers (for now) may need to change up slightly depending on whether or not 
# its necessary to keep the players teams for that season seperate. Added all the players to
# a single dataframe so i can groupby name and get their averages over the 5 seasons

# Playing with the player data

Looking to possibly add a weight factor to the players from each team based on their win shares for that season. Will do this for every team and sum up all the stats to get the players total stats (weighted by their value to the team). And eventually will use their win shares and follow the same formula when applying to the final season for predictions

# Creating a dataframe for each team top 10 players

In [81]:
atl_2019 = nba_2019_players[nba_2019_players['Tm'] == 'ATL'].sort_values('MP', ascending = False)[0:10]
atl_2018 = nba_2018_players[nba_2018_players['Tm'] == 'ATL'].sort_values('MP', ascending = False)[0:10]
atl_2017 = nba_2017_players[nba_2017_players['Tm'] == 'ATL'].sort_values('MP', ascending = False)[0:10]
atl_2016 = nba_2016_players[nba_2016_players['Tm'] == 'ATL'].sort_values('MP', ascending = False)[0:10]
atl_2015 = nba_2015_players[nba_2015_players['Tm'] == 'ATL'].sort_values('MP', ascending = False)[0:10]
atl_2014 = nba_2014_players[nba_2014_players['Tm'] == 'ATL'].sort_values('MP', ascending = False)[0:10]

In [82]:
bos_2019 = nba_2019_players[nba_2019_players['Tm'] == 'BOS'].sort_values('MP', ascending = False)[0:10]
bos_2018 = nba_2018_players[nba_2018_players['Tm'] == 'BOS'].sort_values('MP', ascending = False)[0:10]
bos_2017 = nba_2017_players[nba_2017_players['Tm'] == 'BOS'].sort_values('MP', ascending = False)[0:10]
bos_2016 = nba_2016_players[nba_2016_players['Tm'] == 'BOS'].sort_values('MP', ascending = False)[0:10]
bos_2015 = nba_2015_players[nba_2015_players['Tm'] == 'BOS'].sort_values('MP', ascending = False)[0:10]
bos_2014 = nba_2014_players[nba_2014_players['Tm'] == 'BOS'].sort_values('MP', ascending = False)[0:10]

In [83]:
brk_2019 = nba_2019_players[nba_2019_players['Tm'] == 'BRK'].sort_values('MP', ascending = False)[0:10]
brk_2018 = nba_2018_players[nba_2018_players['Tm'] == 'BRK'].sort_values('MP', ascending = False)[0:10]
brk_2017 = nba_2017_players[nba_2017_players['Tm'] == 'BRK'].sort_values('MP', ascending = False)[0:10]
brk_2016 = nba_2016_players[nba_2016_players['Tm'] == 'BRK'].sort_values('MP', ascending = False)[0:10]
brk_2015 = nba_2015_players[nba_2015_players['Tm'] == 'BRK'].sort_values('MP', ascending = False)[0:10]
brk_2014 = nba_2014_players[nba_2014_players['Tm'] == 'BRK'].sort_values('MP', ascending = False)[0:10]

In [84]:
chi_2019 = nba_2019_players[nba_2019_players['Tm'] == 'CHI'].sort_values('MP', ascending = False)[0:10]
chi_2018 = nba_2018_players[nba_2018_players['Tm'] == 'CHI'].sort_values('MP', ascending = False)[0:10]
chi_2017 = nba_2017_players[nba_2017_players['Tm'] == 'CHI'].sort_values('MP', ascending = False)[0:10]
chi_2016 = nba_2016_players[nba_2016_players['Tm'] == 'CHI'].sort_values('MP', ascending = False)[0:10]
chi_2015 = nba_2015_players[nba_2015_players['Tm'] == 'CHI'].sort_values('MP', ascending = False)[0:10]
chi_2014 = nba_2014_players[nba_2014_players['Tm'] == 'CHI'].sort_values('MP', ascending = False)[0:10]

In [85]:
cho_2019 = nba_2019_players[nba_2019_players['Tm'] == 'CHO'].sort_values('MP', ascending = False)[0:10]
cho_2018 = nba_2018_players[nba_2018_players['Tm'] == 'CHO'].sort_values('MP', ascending = False)[0:10]
cho_2017 = nba_2017_players[nba_2017_players['Tm'] == 'CHO'].sort_values('MP', ascending = False)[0:10]
cho_2016 = nba_2016_players[nba_2016_players['Tm'] == 'CHO'].sort_values('MP', ascending = False)[0:10]
cho_2015 = nba_2015_players[nba_2015_players['Tm'] == 'CHO'].sort_values('MP', ascending = False)[0:10]
cho_2014 = nba_2014_players[nba_2014_players['Tm'] == 'CHA'].sort_values('MP', ascending = False)[0:10]

In [86]:
cho_2014['Tm'] = ['CHO' for x in cho_2014['Tm']]

In [87]:
cle_2019 = nba_2019_players[nba_2019_players['Tm'] == 'CLE'].sort_values('MP', ascending = False)[0:10]
cle_2018 = nba_2018_players[nba_2018_players['Tm'] == 'CLE'].sort_values('MP', ascending = False)[0:10]
cle_2017 = nba_2017_players[nba_2017_players['Tm'] == 'CLE'].sort_values('MP', ascending = False)[0:10]
cle_2016 = nba_2016_players[nba_2016_players['Tm'] == 'CLE'].sort_values('MP', ascending = False)[0:10]
cle_2015 = nba_2015_players[nba_2015_players['Tm'] == 'CLE'].sort_values('MP', ascending = False)[0:10]
cle_2014 = nba_2014_players[nba_2014_players['Tm'] == 'CLE'].sort_values('MP', ascending = False)[0:10]

In [88]:
dal_2019 = nba_2019_players[nba_2019_players['Tm'] == 'DAL'].sort_values('MP', ascending = False)[0:10]
dal_2018 = nba_2018_players[nba_2018_players['Tm'] == 'DAL'].sort_values('MP', ascending = False)[0:10]
dal_2017 = nba_2017_players[nba_2017_players['Tm'] == 'DAL'].sort_values('MP', ascending = False)[0:10]
dal_2016 = nba_2016_players[nba_2016_players['Tm'] == 'DAL'].sort_values('MP', ascending = False)[0:10]
dal_2015 = nba_2015_players[nba_2015_players['Tm'] == 'DAL'].sort_values('MP', ascending = False)[0:10]
dal_2014 = nba_2014_players[nba_2014_players['Tm'] == 'DAL'].sort_values('MP', ascending = False)[0:10]

In [89]:
den_2019 = nba_2019_players[nba_2019_players['Tm'] == 'DEN'].sort_values('MP', ascending = False)[0:10]
den_2018 = nba_2018_players[nba_2018_players['Tm'] == 'DEN'].sort_values('MP', ascending = False)[0:10]
den_2017 = nba_2017_players[nba_2017_players['Tm'] == 'DEN'].sort_values('MP', ascending = False)[0:10]
den_2016 = nba_2016_players[nba_2016_players['Tm'] == 'DEN'].sort_values('MP', ascending = False)[0:10]
den_2015 = nba_2015_players[nba_2015_players['Tm'] == 'DEN'].sort_values('MP', ascending = False)[0:10]
den_2014 = nba_2014_players[nba_2014_players['Tm'] == 'DEN'].sort_values('MP', ascending = False)[0:10]

In [90]:
det_2019 = nba_2019_players[nba_2019_players['Tm'] == 'DET'].sort_values('MP', ascending = False)[0:10]
det_2018 = nba_2018_players[nba_2018_players['Tm'] == 'DET'].sort_values('MP', ascending = False)[0:10]
det_2017 = nba_2017_players[nba_2017_players['Tm'] == 'DET'].sort_values('MP', ascending = False)[0:10]
det_2016 = nba_2016_players[nba_2016_players['Tm'] == 'DET'].sort_values('MP', ascending = False)[0:10]
det_2015 = nba_2015_players[nba_2015_players['Tm'] == 'DET'].sort_values('MP', ascending = False)[0:10]
det_2014 = nba_2014_players[nba_2014_players['Tm'] == 'DET'].sort_values('MP', ascending = False)[0:10]

In [91]:
gsw_2019 = nba_2019_players[nba_2019_players['Tm'] == 'GSW'].sort_values('MP', ascending = False)[0:10]
gsw_2018 = nba_2018_players[nba_2018_players['Tm'] == 'GSW'].sort_values('MP', ascending = False)[0:10]
gsw_2017 = nba_2017_players[nba_2017_players['Tm'] == 'GSW'].sort_values('MP', ascending = False)[0:10]
gsw_2016 = nba_2016_players[nba_2016_players['Tm'] == 'GSW'].sort_values('MP', ascending = False)[0:10]
gsw_2015 = nba_2015_players[nba_2015_players['Tm'] == 'GSW'].sort_values('MP', ascending = False)[0:10]
gsw_2014 = nba_2014_players[nba_2014_players['Tm'] == 'GSW'].sort_values('MP', ascending = False)[0:10]

In [92]:
hou_2019 = nba_2019_players[nba_2019_players['Tm'] == 'HOU'].sort_values('MP', ascending = False)[0:10]
hou_2018 = nba_2018_players[nba_2018_players['Tm'] == 'HOU'].sort_values('MP', ascending = False)[0:10]
hou_2017 = nba_2017_players[nba_2017_players['Tm'] == 'HOU'].sort_values('MP', ascending = False)[0:10]
hou_2016 = nba_2016_players[nba_2016_players['Tm'] == 'HOU'].sort_values('MP', ascending = False)[0:10]
hou_2015 = nba_2015_players[nba_2015_players['Tm'] == 'HOU'].sort_values('MP', ascending = False)[0:10]
hou_2014 = nba_2014_players[nba_2014_players['Tm'] == 'HOU'].sort_values('MP', ascending = False)[0:10]

In [93]:
ind_2019 = nba_2019_players[nba_2019_players['Tm'] == 'IND'].sort_values('MP', ascending = False)[0:10]
ind_2018 = nba_2018_players[nba_2018_players['Tm'] == 'IND'].sort_values('MP', ascending = False)[0:10]
ind_2017 = nba_2017_players[nba_2017_players['Tm'] == 'IND'].sort_values('MP', ascending = False)[0:10]
ind_2016 = nba_2016_players[nba_2016_players['Tm'] == 'IND'].sort_values('MP', ascending = False)[0:10]
ind_2015 = nba_2015_players[nba_2015_players['Tm'] == 'IND'].sort_values('MP', ascending = False)[0:10]
ind_2014 = nba_2014_players[nba_2014_players['Tm'] == 'IND'].sort_values('MP', ascending = False)[0:10]

In [94]:
lac_2019 = nba_2019_players[nba_2019_players['Tm'] == 'LAC'].sort_values('MP', ascending = False)[0:10]
lac_2018 = nba_2018_players[nba_2018_players['Tm'] == 'LAC'].sort_values('MP', ascending = False)[0:10]
lac_2017 = nba_2017_players[nba_2017_players['Tm'] == 'LAC'].sort_values('MP', ascending = False)[0:10]
lac_2016 = nba_2016_players[nba_2016_players['Tm'] == 'LAC'].sort_values('MP', ascending = False)[0:10]
lac_2015 = nba_2015_players[nba_2015_players['Tm'] == 'LAC'].sort_values('MP', ascending = False)[0:10]
lac_2014 = nba_2014_players[nba_2014_players['Tm'] == 'LAC'].sort_values('MP', ascending = False)[0:10]

In [95]:
lal_2019 = nba_2019_players[nba_2019_players['Tm'] == 'LAL'].sort_values('MP', ascending = False)[0:10]
lal_2018 = nba_2018_players[nba_2018_players['Tm'] == 'LAL'].sort_values('MP', ascending = False)[0:10]
lal_2017 = nba_2017_players[nba_2017_players['Tm'] == 'LAL'].sort_values('MP', ascending = False)[0:10]
lal_2016 = nba_2016_players[nba_2016_players['Tm'] == 'LAL'].sort_values('MP', ascending = False)[0:10]
lal_2015 = nba_2015_players[nba_2015_players['Tm'] == 'LAL'].sort_values('MP', ascending = False)[0:10]
lal_2014 = nba_2014_players[nba_2014_players['Tm'] == 'LAL'].sort_values('MP', ascending = False)[0:10]

In [96]:
mem_2019 = nba_2019_players[nba_2019_players['Tm'] == 'MEM'].sort_values('MP', ascending = False)[0:10]
mem_2018 = nba_2018_players[nba_2018_players['Tm'] == 'MEM'].sort_values('MP', ascending = False)[0:10]
mem_2017 = nba_2017_players[nba_2017_players['Tm'] == 'MEM'].sort_values('MP', ascending = False)[0:10]
mem_2016 = nba_2016_players[nba_2016_players['Tm'] == 'MEM'].sort_values('MP', ascending = False)[0:10]
mem_2015 = nba_2015_players[nba_2015_players['Tm'] == 'MEM'].sort_values('MP', ascending = False)[0:10]
mem_2014 = nba_2014_players[nba_2014_players['Tm'] == 'MEM'].sort_values('MP', ascending = False)[0:10]

In [97]:
mia_2019 = nba_2019_players[nba_2019_players['Tm'] == 'MIA'].sort_values('MP', ascending = False)[0:10]
mia_2018 = nba_2018_players[nba_2018_players['Tm'] == 'MIA'].sort_values('MP', ascending = False)[0:10]
mia_2017 = nba_2017_players[nba_2017_players['Tm'] == 'MIA'].sort_values('MP', ascending = False)[0:10]
mia_2016 = nba_2016_players[nba_2016_players['Tm'] == 'MIA'].sort_values('MP', ascending = False)[0:10]
mia_2015 = nba_2015_players[nba_2015_players['Tm'] == 'MIA'].sort_values('MP', ascending = False)[0:10]
mia_2014 = nba_2014_players[nba_2014_players['Tm'] == 'MIA'].sort_values('MP', ascending = False)[0:10]

In [98]:
mil_2019 = nba_2019_players[nba_2019_players['Tm'] == 'MIL'].sort_values('MP', ascending = False)[0:10]
mil_2018 = nba_2018_players[nba_2018_players['Tm'] == 'MIL'].sort_values('MP', ascending = False)[0:10]
mil_2017 = nba_2017_players[nba_2017_players['Tm'] == 'MIL'].sort_values('MP', ascending = False)[0:10]
mil_2016 = nba_2016_players[nba_2016_players['Tm'] == 'MIL'].sort_values('MP', ascending = False)[0:10]
mil_2015 = nba_2015_players[nba_2015_players['Tm'] == 'MIL'].sort_values('MP', ascending = False)[0:10]
mil_2014 = nba_2014_players[nba_2014_players['Tm'] == 'MIL'].sort_values('MP', ascending = False)[0:10]

In [99]:
min_2019 = nba_2019_players[nba_2019_players['Tm'] == 'MIN'].sort_values('MP', ascending = False)[0:10]
min_2018 = nba_2018_players[nba_2018_players['Tm'] == 'MIN'].sort_values('MP', ascending = False)[0:10]
min_2017 = nba_2017_players[nba_2017_players['Tm'] == 'MIN'].sort_values('MP', ascending = False)[0:10]
min_2016 = nba_2016_players[nba_2016_players['Tm'] == 'MIN'].sort_values('MP', ascending = False)[0:10]
min_2015 = nba_2015_players[nba_2015_players['Tm'] == 'MIN'].sort_values('MP', ascending = False)[0:10]
min_2014 = nba_2014_players[nba_2014_players['Tm'] == 'MIN'].sort_values('MP', ascending = False)[0:10]

In [100]:
nop_2019 = nba_2019_players[nba_2019_players['Tm'] == 'NOP'].sort_values('MP', ascending = False)[0:10]
nop_2018 = nba_2018_players[nba_2018_players['Tm'] == 'NOP'].sort_values('MP', ascending = False)[0:10]
nop_2017 = nba_2017_players[nba_2017_players['Tm'] == 'NOP'].sort_values('MP', ascending = False)[0:10]
nop_2016 = nba_2016_players[nba_2016_players['Tm'] == 'NOP'].sort_values('MP', ascending = False)[0:10]
nop_2015 = nba_2015_players[nba_2015_players['Tm'] == 'NOP'].sort_values('MP', ascending = False)[0:10]
nop_2014 = nba_2014_players[nba_2014_players['Tm'] == 'NOP'].sort_values('MP', ascending = False)[0:10]

In [101]:
nyk_2019 = nba_2019_players[nba_2019_players['Tm'] == 'NYK'].sort_values('MP', ascending = False)[0:10]
nyk_2018 = nba_2018_players[nba_2018_players['Tm'] == 'NYK'].sort_values('MP', ascending = False)[0:10]
nyk_2017 = nba_2017_players[nba_2017_players['Tm'] == 'NYK'].sort_values('MP', ascending = False)[0:10]
nyk_2016 = nba_2016_players[nba_2016_players['Tm'] == 'NYK'].sort_values('MP', ascending = False)[0:10]
nyk_2015 = nba_2015_players[nba_2015_players['Tm'] == 'NYK'].sort_values('MP', ascending = False)[0:10]
nyk_2014 = nba_2014_players[nba_2014_players['Tm'] == 'NYK'].sort_values('MP', ascending = False)[0:10]

In [102]:
okc_2019 = nba_2019_players[nba_2019_players['Tm'] == 'OKC'].sort_values('MP', ascending = False)[0:10]
okc_2018 = nba_2018_players[nba_2018_players['Tm'] == 'OKC'].sort_values('MP', ascending = False)[0:10]
okc_2017 = nba_2017_players[nba_2017_players['Tm'] == 'OKC'].sort_values('MP', ascending = False)[0:10]
okc_2016 = nba_2016_players[nba_2016_players['Tm'] == 'OKC'].sort_values('MP', ascending = False)[0:10]
okc_2015 = nba_2015_players[nba_2015_players['Tm'] == 'OKC'].sort_values('MP', ascending = False)[0:10]
okc_2014 = nba_2014_players[nba_2014_players['Tm'] == 'OKC'].sort_values('MP', ascending = False)[0:10]

In [103]:
orl_2019 = nba_2019_players[nba_2019_players['Tm'] == 'ORL'].sort_values('MP', ascending = False)[0:10]
orl_2018 = nba_2018_players[nba_2018_players['Tm'] == 'ORL'].sort_values('MP', ascending = False)[0:10]
orl_2017 = nba_2017_players[nba_2017_players['Tm'] == 'ORL'].sort_values('MP', ascending = False)[0:10]
orl_2016 = nba_2016_players[nba_2016_players['Tm'] == 'ORL'].sort_values('MP', ascending = False)[0:10]
orl_2015 = nba_2015_players[nba_2015_players['Tm'] == 'ORL'].sort_values('MP', ascending = False)[0:10]
orl_2014 = nba_2014_players[nba_2014_players['Tm'] == 'ORL'].sort_values('MP', ascending = False)[0:10]

In [104]:
phi_2019 = nba_2019_players[nba_2019_players['Tm'] == 'PHI'].sort_values('MP', ascending = False)[0:10]
phi_2018 = nba_2018_players[nba_2018_players['Tm'] == 'PHI'].sort_values('MP', ascending = False)[0:10]
phi_2017 = nba_2017_players[nba_2017_players['Tm'] == 'PHI'].sort_values('MP', ascending = False)[0:10]
phi_2016 = nba_2016_players[nba_2016_players['Tm'] == 'PHI'].sort_values('MP', ascending = False)[0:10]
phi_2015 = nba_2015_players[nba_2015_players['Tm'] == 'PHI'].sort_values('MP', ascending = False)[0:10]
phi_2014 = nba_2014_players[nba_2014_players['Tm'] == 'PHI'].sort_values('MP', ascending = False)[0:10]

In [105]:
pho_2019 = nba_2019_players[nba_2019_players['Tm'] == 'PHO'].sort_values('MP', ascending = False)[0:10]
pho_2018 = nba_2018_players[nba_2018_players['Tm'] == 'PHO'].sort_values('MP', ascending = False)[0:10]
pho_2017 = nba_2017_players[nba_2017_players['Tm'] == 'PHO'].sort_values('MP', ascending = False)[0:10]
pho_2016 = nba_2016_players[nba_2016_players['Tm'] == 'PHO'].sort_values('MP', ascending = False)[0:10]
pho_2015 = nba_2015_players[nba_2015_players['Tm'] == 'PHO'].sort_values('MP', ascending = False)[0:10]
pho_2014 = nba_2014_players[nba_2014_players['Tm'] == 'PHO'].sort_values('MP', ascending = False)[0:10]

In [106]:
por_2019 = nba_2019_players[nba_2019_players['Tm'] == 'POR'].sort_values('MP', ascending = False)[0:10]
por_2018 = nba_2018_players[nba_2018_players['Tm'] == 'POR'].sort_values('MP', ascending = False)[0:10]
por_2017 = nba_2017_players[nba_2017_players['Tm'] == 'POR'].sort_values('MP', ascending = False)[0:10]
por_2016 = nba_2016_players[nba_2016_players['Tm'] == 'POR'].sort_values('MP', ascending = False)[0:10]
por_2015 = nba_2015_players[nba_2015_players['Tm'] == 'POR'].sort_values('MP', ascending = False)[0:10]
por_2014 = nba_2014_players[nba_2014_players['Tm'] == 'POR'].sort_values('MP', ascending = False)[0:10]

In [107]:
sac_2019 = nba_2019_players[nba_2019_players['Tm'] == 'SAC'].sort_values('MP', ascending = False)[0:10]
sac_2018 = nba_2018_players[nba_2018_players['Tm'] == 'SAC'].sort_values('MP', ascending = False)[0:10]
sac_2017 = nba_2017_players[nba_2017_players['Tm'] == 'SAC'].sort_values('MP', ascending = False)[0:10]
sac_2016 = nba_2016_players[nba_2016_players['Tm'] == 'SAC'].sort_values('MP', ascending = False)[0:10]
sac_2015 = nba_2015_players[nba_2015_players['Tm'] == 'SAC'].sort_values('MP', ascending = False)[0:10]
sac_2014 = nba_2014_players[nba_2014_players['Tm'] == 'SAC'].sort_values('MP', ascending = False)[0:10]

In [108]:
sas_2019 = nba_2019_players[nba_2019_players['Tm'] == 'SAS'].sort_values('MP', ascending = False)[0:10]
sas_2018 = nba_2018_players[nba_2018_players['Tm'] == 'SAS'].sort_values('MP', ascending = False)[0:10]
sas_2017 = nba_2017_players[nba_2017_players['Tm'] == 'SAS'].sort_values('MP', ascending = False)[0:10]
sas_2016 = nba_2016_players[nba_2016_players['Tm'] == 'SAS'].sort_values('MP', ascending = False)[0:10]
sas_2015 = nba_2015_players[nba_2015_players['Tm'] == 'SAS'].sort_values('MP', ascending = False)[0:10]
sas_2014 = nba_2014_players[nba_2014_players['Tm'] == 'SAS'].sort_values('MP', ascending = False)[0:10]

In [109]:
tor_2019 = nba_2019_players[nba_2019_players['Tm'] == 'TOR'].sort_values('MP', ascending = False)[0:10]
tor_2018 = nba_2018_players[nba_2018_players['Tm'] == 'TOR'].sort_values('MP', ascending = False)[0:10]
tor_2017 = nba_2017_players[nba_2017_players['Tm'] == 'TOR'].sort_values('MP', ascending = False)[0:10]
tor_2016 = nba_2016_players[nba_2016_players['Tm'] == 'TOR'].sort_values('MP', ascending = False)[0:10]
tor_2015 = nba_2015_players[nba_2015_players['Tm'] == 'TOR'].sort_values('MP', ascending = False)[0:10]
tor_2014 = nba_2014_players[nba_2014_players['Tm'] == 'TOR'].sort_values('MP', ascending = False)[0:10]

In [110]:
uta_2019 = nba_2019_players[nba_2019_players['Tm'] == 'UTA'].sort_values('MP', ascending = False)[0:10]
uta_2018 = nba_2018_players[nba_2018_players['Tm'] == 'UTA'].sort_values('MP', ascending = False)[0:10]
uta_2017 = nba_2017_players[nba_2017_players['Tm'] == 'UTA'].sort_values('MP', ascending = False)[0:10]
uta_2016 = nba_2016_players[nba_2016_players['Tm'] == 'UTA'].sort_values('MP', ascending = False)[0:10]
uta_2015 = nba_2015_players[nba_2015_players['Tm'] == 'UTA'].sort_values('MP', ascending = False)[0:10]
uta_2014 = nba_2014_players[nba_2014_players['Tm'] == 'UTA'].sort_values('MP', ascending = False)[0:10]

In [111]:
was_2019 = nba_2019_players[nba_2019_players['Tm'] == 'WAS'].sort_values('MP', ascending = False)[0:10]
was_2018 = nba_2018_players[nba_2018_players['Tm'] == 'WAS'].sort_values('MP', ascending = False)[0:10]
was_2017 = nba_2017_players[nba_2017_players['Tm'] == 'WAS'].sort_values('MP', ascending = False)[0:10]
was_2016 = nba_2016_players[nba_2016_players['Tm'] == 'WAS'].sort_values('MP', ascending = False)[0:10]
was_2015 = nba_2015_players[nba_2015_players['Tm'] == 'WAS'].sort_values('MP', ascending = False)[0:10]
was_2014 = nba_2014_players[nba_2014_players['Tm'] == 'WAS'].sort_values('MP', ascending = False)[0:10]

In [112]:
# atl_2019, atl_2018, atl_2017, atl_2016, atl_2015, atl_2014,

# Weighing players on each team by win shares

Creating list of all teams

In [113]:
teams_list = [bos_2019, bos_2018, bos_2017, bos_2016, bos_2015, bos_2014,
             brk_2019, brk_2018, brk_2017, brk_2016, brk_2015, brk_2014,
             cho_2019, cho_2018, cho_2017, cho_2016, cho_2015, cho_2014,
             chi_2019, chi_2018, chi_2017, chi_2016, chi_2015, chi_2014,
             cle_2019, cle_2018, cle_2017, cle_2016, cle_2015, cle_2014,
             dal_2019, dal_2018, dal_2017, dal_2016, dal_2015, dal_2014,
             den_2019, den_2018, den_2017, den_2016, den_2015, den_2014,
             det_2019, det_2018, det_2017, det_2016, det_2015, det_2014,
             gsw_2019, gsw_2018, gsw_2017, gsw_2016, gsw_2015, gsw_2014,
             hou_2019, hou_2018, hou_2017, hou_2016, hou_2015, hou_2014,
             ind_2019, ind_2018, ind_2017, ind_2016, ind_2015, ind_2014,
             lac_2019, lac_2018, lac_2017, lac_2016, lac_2015, lac_2014,
             lal_2019, lal_2018, lal_2017, lal_2016, lal_2015, lal_2014,
             mem_2019, mem_2018, mem_2017, mem_2016, mem_2015, mem_2014,
             mia_2019, mia_2018, mia_2017, mia_2016, mia_2015, mia_2014,
             mil_2019, mil_2018, mil_2017, mil_2016, mil_2015, mil_2014,
             min_2019, min_2018, min_2017, min_2016, min_2015, min_2014,
             nop_2019, nop_2018, nop_2017, nop_2016, nop_2015, nop_2014,
             nyk_2019, nyk_2018, nyk_2017, nyk_2016, nyk_2015, nyk_2014,
             okc_2019, okc_2018, okc_2017, okc_2016, okc_2015, okc_2014,
             orl_2019, orl_2018, orl_2017, orl_2016, orl_2015, orl_2014,
             phi_2019, phi_2018, phi_2017, phi_2016, phi_2015, phi_2014,
             pho_2019, pho_2018, pho_2017, pho_2016, pho_2015, pho_2014,
             por_2019, por_2018, por_2017, por_2016, por_2015, por_2014,
             sac_2019, sac_2018, sac_2017, sac_2016, sac_2015, sac_2014,
             sas_2019, sas_2018, sas_2017, sas_2016, sas_2015, sas_2014,
             tor_2019, tor_2018, tor_2017, tor_2016, tor_2015, tor_2014,
             uta_2019, uta_2018, uta_2017, uta_2016, uta_2015, uta_2014,
             was_2019, was_2018, was_2017, was_2016, was_2015, was_2014]

# Created a weighing factor to add to the dataset that wasnt really necessary after more thought

Creating a list of all columns that will be transformed by the weight factor of WS's

In [114]:
# transformation_columns = []

# for x in atl_2019.columns[6:50]:
#     if x != 'WS':
#         transformation_columns.append(x)

Creating functions for the % of win shares per player per team and applying that win share percent to the other columns

In [115]:
# def win_share_percentage(df):
#     df['WS'] = df['WS'] / df['WS'].sum()
#     return df['WS']

In [116]:
# def applying_weight_factor(df, cols):
#     df[cols] = df[cols].apply(lambda x: x*win_share_percentage(df))
#     return df

Applying function to all teams

In [117]:
# for team in teams_list:
#     applying_weight_factor(team, transformation_columns)

# Creating seperate dataframes by season for all 30 teams to later concat with the team data (all sorted aphabetically)

In [118]:
for x in teams_list:
    for y in x['year'][0:1]:
        if y == 2019:
            atl_2019 = atl_2019.append(x)
        elif y == 2018:
            atl_2018 = atl_2018.append(x)
        elif y == 2017:
            atl_2017 = atl_2017.append(x)
        elif y == 2016:
            atl_2016 = atl_2016.append(x)
        elif y == 2015:
            atl_2015 = atl_2015.append(x)
        elif y == 2014:
            atl_2014 = atl_2014.append(x)

In [119]:
players_2019 = atl_2019.groupby('Tm').sum().reset_index()

In [120]:
players_2018 = atl_2018.groupby('Tm').sum().reset_index()

In [121]:
players_2017 = atl_2017.groupby('Tm').sum().reset_index()

In [122]:
players_2016 = atl_2016.groupby('Tm').sum().reset_index()

In [123]:
players_2015 = atl_2015.groupby('Tm').sum().reset_index()

In [124]:
players_2014 = atl_2014.groupby('Tm').sum().reset_index()

In [125]:
players_2019

,Tm,Age,G,GS,MPG,FG,FGA,FG%,3P,3PA,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,year
0,ATL,264,689,389,246.8,44.4,96.9,4.557,13.6,38.4,...,204.6,14.4,10.2,24.9,0.725,-3.7,-7.300000e+00,-1.080000e+01,3.8,20190
1,BOS,263,711,404,252.9,45.3,96.9,4.679,13.4,36.3,...,196.8,24.4,24.2,48.4,1.310,3.0,6.200000e+00,9.000000e+00,14.6,20190
2,BRK,258,677,362,246.4,39.8,88.3,4.628,13.1,35.8,...,187.8,18.9,18.5,37.1,0.999,-6.3,1.200000e+00,-5.200000e+00,8.4,20190
3,CHI,242,553,348,272.2,45.3,100.7,4.518,10.7,31.2,...,199.8,7.1,10.4,17.2,0.513,-13.0,-3.900000e+00,-1.710000e+01,2.0,20190
4,CHO,267,691,362,237.3,40.4,89.1,4.603,11.3,31.9,...,201.4,20.2,13.0,33.3,0.940,1.0,-4.800000e+00,-4.000000e+00,9.2,20190
5,CLE,251,574,325,259.7,42.4,93.3,4.628,9.6,27.2,...,194.1,13.8,2.5,16.4,0.576,-3.8,-1.590000e+01,-1.980000e+01,0.0,20190
6,DAL,264,617,353,258.7,41.0,90.5,4.658,12.8,36.5,...,193.1,16.4,15.7,32.5,0.948,-3.3,2.300000e+00,-1.000000e+00,8.6,20190
7,DEN,253,715,408,255.2,43.9,94.5,4.699,11.6,33.0,...,188.5,27.9,21.5,49.3,1.233,4.5,4.100000e+00,8.700000e+00,15.4,20190
8,DET,266,669,360,246.6,40.9,92.6,4.293,12.9,36.6,...,194.0,17.9,19.7,37.5,0.970,-5.6,2.000000e+00,-3.700000e+00,9.6,20190
9,GSW,288,722,349,235.4,43.1,88.1,4.960,14.0,36.0,...,182.6,31.9,18.3,50.2,1.334,7.8,4.000000e-01,8.200000e+00,15.8,20190
10,HOU,285,603,391,278.5,44.3,98.7,4.419,19.4,53.8,...,183.0,32.3,16.8,49.0,1.208,9.2,-8.000000e-01,8.400000e+00,16.7,20190
11,IND,275,673,404,270.4,46.3,99.3,4.669,11.8,31.6,...,201.7,18.3,25.9,44.4,1.111,-0.8,6.500000e+00,5.600000e+00,13.0,20190
12,LAC,276,613,366,259.8,44.3,94.7,4.611,12.7,31.7,...,192.2,24.7,13.7,38.5,1.043,6.8,-2.600000e+00,4.000000e+00,12.0,20190
13,LAL,274,610,365,267.8,47.8,101.3,4.770,11.4,34.2,...,193.0,12.4,18.0,30.2,0.889,-5.0,4.400000e+00,-9.000000e-01,8.7,20190
14,MEM,275,471,344,282.4,42.0,93.8,4.508,11.7,33.7,...,188.7,10.2,16.4,26.7,0.900,-8.7,6.900000e+00,-1.900000e+00,7.8,20190
15,MIA,267,669,364,250.0,41.6,91.3,4.632,11.4,32.4,...,195.9,13.0,23.3,36.1,1.005,-6.5,6.400000e+00,-2.220446e-16,9.0,20190
16,MIL,275,679,400,245.2,45.2,93.4,4.709,13.2,37.6,...,189.2,28.8,27.6,56.4,1.497,4.1,9.900000e+00,1.420000e+01,17.9,20190
17,MIN,267,664,366,250.1,44.3,96.9,4.539,9.8,27.8,...,196.5,21.1,11.7,32.8,0.948,2.5,-4.900000e+00,-2.400000e+00,8.2,20190
18,NOP,252,586,340,257.1,48.9,103.2,4.616,10.8,31.5,...,201.7,18.4,11.3,29.5,0.827,-0.8,-5.000000e+00,-5.800000e+00,8.6,20190
19,NYK,226,596,327,252.2,41.1,94.3,4.516,10.3,30.4,...,200.3,5.5,9.8,15.2,0.510,-13.8,-8.200000e+00,-2.220000e+01,-0.9,20190
20,OKC,255,695,405,252.2,43.9,97.1,4.542,12.3,35.5,...,180.1,21.7,26.1,47.7,1.129,-7.0,8.000000e+00,1.000000e+00,14.6,20190
21,ORL,255,692,408,248.5,41.6,92.6,4.407,12.0,33.7,...,192.6,15.9,22.8,38.7,0.938,-9.8,4.200000e+00,-5.700000e+00,9.7,20190
22,PHI,261,562,340,269.8,47.5,101.5,4.615,12.6,35.5,...,194.1,24.4,16.5,41.1,1.165,4.7,-1.100000e+00,3.600000e+00,12.3,20190
23,PHO,237,616,318,255.1,46.9,99.6,4.623,10.1,30.2,...,208.3,10.1,7.7,17.9,0.504,-8.4,-8.800000e+00,-1.730000e+01,2.1,20190
24,POR,261,719,395,240.3,42.3,89.9,4.774,11.0,30.3,...,186.9,30.0,18.1,48.1,1.264,7.6,2.800000e+00,1.030000e+01,15.3,20190
25,SAC,249,646,409,262.8,46.3,100.8,4.569,13.8,35.5,...,190.8,21.0,14.5,35.4,0.956,1.1,-3.200000e+00,-2.200000e+00,9.7,20190
26,SAS,285,754,404,247.4,43.6,91.0,4.847,10.3,26.2,...,186.4,27.1,17.2,44.4,1.134,4.5,1.110223e-16,4.700000e+00,12.1,20190
27,TOR,273,625,393,264.5,46.1,97.1,4.694,13.9,36.6,...,193.5,26.8,23.7,50.5,1.386,8.0,8.200000e+00,1.610000e+01,16.3,20190
28,UTA,281,692,406,243.5,40.9,87.7,4.717,12.3,34.4,...,192.0,21.0,28.1,49.2,1.249,-1.6,1.170000e+01,1.000000e+01,15.2,20190
29,WAS,266,518,380,289.0,52.8,114.9,4.670,15.1,44.5,...,206.8,20.3,9.0,29.3,0.845,3.6,-9.100000e+00,-5.500000e+00,7.4,20190

# Team Stats and creating dataframes of each season

In [126]:
nba_2019_teams = pd.read_csv('nba_2019_teams.csv', index_col = 0).set_index('Team').rename(index = {'Charlotte Hornets': 'Cho'}).reset_index().sort_values('Team').drop(columns = ['Team'])

In [127]:
nba_2019_teams = nba_2019_teams.reset_index().drop(columns = 'index')

In [128]:
nba_2019 = pd.concat([nba_2019_teams, players_2019], axis = 1)

In [129]:
nba_2018_teams = pd.read_csv('nba_2018_teams.csv', index_col = 0).set_index('Team').rename(index = {'Charlotte Hornets': 'Cho'}).reset_index().sort_values('Team').drop(columns = ['Team'])

In [130]:
nba_2018_teams = nba_2018_teams.reset_index().drop(columns = 'index')

In [131]:
nba_2018 = pd.concat([nba_2018_teams, players_2018], axis = 1)

In [132]:
nba_2017_teams = pd.read_csv('nba_2017_teams.csv', index_col = 0).set_index('Team').rename(index = {'Charlotte Hornets': 'Cho'}).reset_index().sort_values('Team').drop(columns = ['Team'])

In [133]:
nba_2017_teams = nba_2017_teams.reset_index().drop(columns = 'index')

In [134]:
nba_2017 = pd.concat([nba_2017_teams, players_2017], axis = 1)

In [135]:
nba_2016_teams = pd.read_csv('nba_2016_teams.csv', index_col = 0).set_index('Team').rename(index = {'Charlotte Hornets*': 'Cho'}).reset_index().sort_values('Team').drop(columns = ['Team'])

In [136]:
nba_2016_teams = nba_2016_teams.reset_index().drop(columns = 'index')

In [137]:
nba_2016 = pd.concat([nba_2016_teams, players_2016], axis = 1)

In [138]:
nba_2015_teams = pd.read_csv('nba_2015_teams.csv', index_col = 0).set_index('Team').rename(index = {'Charlotte Hornets': 'Cho'}).reset_index().sort_values('Team').drop(columns = ['Team'])

In [139]:
nba_2015_teams = nba_2015_teams.reset_index().drop(columns = 'index')

In [140]:
nba_2015 = pd.concat([nba_2015_teams, players_2015], axis = 1)

In [141]:
nba_2014_teams = pd.read_csv('nba_2014_teams.csv', index_col = 0).set_index('Team').rename(index = {'Charlotte Bobcats*': 'Cho'}).reset_index().sort_values('Team').drop(columns = ['Team'])

In [142]:
nba_2014_teams = nba_2014_teams.reset_index().drop(columns = 'index')

In [143]:
nba_2014 = pd.concat([nba_2014_teams, players_2014], axis = 1)

In [144]:
nba_2014['Tm']

0     ATL
1     BOS
2     BRK
3     CHI
4     CHO
5     CLE
6     DAL
7     DEN
8     DET
9     GSW
10    HOU
11    IND
12    LAC
13    LAL
14    MEM
15    MIA
16    MIL
17    MIN
18    NOP
19    NYK
20    OKC
21    ORL
22    PHI
23    PHO
24    POR
25    SAC
26    SAS
27    TOR
28    UTA
29    WAS
Name: Tm, dtype: object

In [145]:
nba_data = pd.concat([nba_2014, nba_2015, nba_2016, nba_2017, nba_2018, nba_2019], axis = 0)

In [146]:
nba_data.to_csv('finalized_nba_data_set.csv')

# Attempt at adding Coaches

 Coaches record up to and including 2018-19 season

In [147]:
nba_coaches_2019 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_coaches.html')

In [148]:
nba_2019_coaches = nba_coaches_2019[0]

In [149]:
nba_2019_coaches.columns = nba_2019_coaches.columns.droplevel()
nba_2019_coaches.columns = nba_2019_coaches.columns.droplevel()

In [150]:
nba_2019_coaches = nba_2019_coaches[['Coach', 'Tm','W%']]

 Coaches record up to and including 2017-18 season

In [151]:
nba_coaches_2018 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2018_coaches.html')

In [152]:
nba_2018_coaches = nba_coaches_2018[0]

In [153]:
nba_2018_coaches.columns = nba_2018_coaches.columns.droplevel()
nba_2018_coaches.columns = nba_2018_coaches.columns.droplevel()

In [154]:
nba_2018_coaches = nba_2018_coaches[['Coach', 'Tm','W%']]

 Coaches record up to and including 2016-17 season

In [155]:
nba_coaches_2017 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2017_coaches.html')

In [156]:
nba_2017_coaches = nba_coaches_2017[0]

In [157]:
nba_2017_coaches.columns = nba_2017_coaches.columns.droplevel()
nba_2017_coaches.columns = nba_2017_coaches.columns.droplevel()

In [158]:
nba_2017_coaches = nba_2017_coaches[['Coach', 'Tm','W%']]

Coaches record up to and including 2015-16 season

In [159]:
nba_coaches_2016 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_coaches.html')

In [160]:
nba_2016_coaches = nba_coaches_2016[0]

In [161]:
nba_2016_coaches.columns = nba_2016_coaches.columns.droplevel()
nba_2016_coaches.columns = nba_2016_coaches.columns.droplevel()

In [162]:
nba_2016_coaches = nba_2016_coaches[['Coach', 'Tm','W%']]

 Coaches record up to and including 2014-15 season

In [163]:
nba_coaches_2015 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_coaches.html')

In [164]:
nba_2015_coaches = nba_coaches_2015[0]

In [165]:
nba_2015_coaches.columns = nba_2015_coaches.columns.droplevel()
nba_2015_coaches.columns = nba_2015_coaches.columns.droplevel()

In [166]:
nba_2015_coaches = nba_2015_coaches[['Coach', 'Tm','W%']]

 Coaches record up to and including 2013-14 season

In [167]:
nba_coaches_2014 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2014_coaches.html')

In [168]:
nba_2014_coaches = nba_coaches_2014[0]

In [169]:
nba_2014_coaches.columns = nba_2014_coaches.columns.droplevel()
nba_2014_coaches.columns = nba_2014_coaches.columns.droplevel()

In [170]:
nba_2014_coaches = nba_2014_coaches[['Coach', 'Tm','W%']]

In [171]:
for i,j in nba_2014_coaches.iterrows():
    print(j[0])

Mike Budenholzer
Brad Stevens
Jason Kidd
Steve Clifford
Tom Thibodeau
Mike Brown
Rick Carlisle
Brian Shaw
Maurice Cheeks
John Loyer
Mark Jackson
Kevin McHale
Frank Vogel
Doc Rivers
Mike D'Antoni
Dave Joerger
Erik Spoelstra
Larry Drew
Rick Adelman
Monty Williams
Mike Woodson
Scott Brooks
Jacque Vaughn
Brett Brown
Jeff Hornacek
Terry Stotts
Mike Malone
Gregg Popovich
Dwane Casey
Tyrone Corbin
Randy Wittman