In [1]:
import pandas as pd

# 2019 nba players stats

In [2]:
nba_players_list_2019 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_per_game.html')

In [3]:
nba_players_2019 = nba_players_list_2019[0]

In [4]:
year_2019 = [2019 for x in nba_players_2019['Player']]

In [5]:
nba_players_2019['year'] = year_2019

In [6]:
nba_players_2019.drop(columns = 'Rk', inplace = True)

In [7]:
nba_players_2019.rename(columns = {'MP': 'MPG'}, inplace = True)

In [8]:
nba_players_list_2019_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_advanced.html')

In [9]:
nba_players_2019_advanced = nba_players_list_2019_advanced[0]

In [10]:
nba_players_2019_advanced['year'] = year_2019

In [11]:
nba_players_2019_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2018 nba players stats

In [12]:
nba_players_list_2018 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2018_per_game.html')

In [13]:
nba_players_2018 = nba_players_list_2018[0]

In [14]:
year_2018 = [2018 for x in nba_players_2018['Player']]

In [15]:
nba_players_2018['year'] = year_2018

In [16]:
nba_players_2018.drop(columns = 'Rk', inplace = True)

In [17]:
nba_players_2018.rename(columns = {'MP': 'MPG'}, inplace = True)

In [18]:
nba_players_list_2018_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2018_advanced.html')

In [19]:
nba_players_2018_advanced = nba_players_list_2018_advanced[0]

In [20]:
nba_players_2018_advanced['year'] = year_2018

In [21]:
nba_players_2018_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2017 nba players stats

In [22]:
nba_players_list_2017 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2017_per_game.html')

In [23]:
nba_players_2017 = nba_players_list_2017[0]

In [24]:
year_2017 = [2017 for x in nba_players_2017['Player']]

In [25]:
nba_players_2017['year'] = year_2017

In [26]:
nba_players_2017.drop(columns = 'Rk', inplace = True)

In [27]:
nba_players_2017.rename(columns = {'MP': 'MPG'}, inplace = True)

In [28]:
nba_players_list_2017_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2017_advanced.html')

In [29]:
nba_players_2017_advanced = nba_players_list_2017_advanced[0]

In [30]:
nba_players_2017_advanced['year'] = year_2017

In [31]:
nba_players_2017_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2016 nba players stats

In [32]:
nba_players_list_2016 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_per_game.html')

In [33]:
nba_players_2016 = nba_players_list_2016[0]

In [34]:
year_2016 = [2016 for x in nba_players_2016['Player']]

In [35]:
nba_players_2016['year'] = year_2016

In [36]:
nba_players_2016.drop(columns = 'Rk', inplace = True)

In [37]:
nba_players_2016.rename(columns = {'MP': 'MPG'}, inplace = True)

In [38]:
nba_players_list_2016_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_advanced.html')

In [39]:
nba_players_2016_advanced = nba_players_list_2016_advanced[0]

In [40]:
nba_players_2016_advanced['year'] = year_2016

In [41]:
nba_players_2016_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2015 nba players stats

In [42]:
nba_players_list_2015 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_per_game.html')

In [43]:
nba_players_2015 = nba_players_list_2015[0]

In [44]:
year_2015 = [2015 for x in nba_players_2015['Player']]

In [45]:
nba_players_2015['year'] = year_2015

In [46]:
nba_players_2015.drop(columns = 'Rk', inplace = True)

In [47]:
nba_players_2015.rename(columns = {'MP': 'MPG'}, inplace = True)

In [48]:
nba_players_list_2015_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_advanced.html')

In [49]:
nba_players_2015_advanced = nba_players_list_2015_advanced[0]

In [50]:
nba_players_2015_advanced['year'] = year_2015

In [51]:
nba_players_2015_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# Concating the Per game stats with Advanced Stats and cleaning data to get all ints/floats

In [53]:
nba_2019_players = pd.concat([nba_players_2019, nba_players_2019_advanced], axis = 1)

In [54]:
nba_2019_players.fillna(0, inplace = True)

In [55]:
nba_2019_players = nba_2019_players[~nba_2019_players.Player.str.startswith('Player')]

# returns all rows in the dataframe that dont start with Player

In [56]:
nba_2019_players = nba_2019_players.apply(pd.to_numeric, errors = 'ignore')

# applies a numeric type (float or int) to all columns that have entirely numeric values in them
# if a column does not have a numeric value it will ignore and move on

# that is why i had to first remove all the na values and turn them to 0's

In [57]:
nba_2018_players = pd.concat([nba_players_2018, nba_players_2018_advanced], axis = 1)

In [58]:
nba_2018_players.fillna(0, inplace = True)

In [60]:
nba_2018_players = nba_2018_players[~nba_2018_players.Player.str.startswith('Player')]

In [61]:
nba_2018_players = nba_2018_players.apply(pd.to_numeric, errors = 'ignore')

In [62]:
nba_2017_players = pd.concat([nba_players_2017, nba_players_2017_advanced], axis = 1)

In [63]:
nba_2017_players.fillna(0, inplace = True)

In [64]:
nba_2017_players = nba_2017_players[~nba_2017_players.Player.str.startswith('Player')]

In [65]:
nba_2017_players = nba_2017_players.apply(pd.to_numeric, errors = 'ignore')

In [66]:
nba_2016_players = pd.concat([nba_players_2016, nba_players_2016_advanced], axis = 1)

In [67]:
nba_2016_players.fillna(0, inplace = True)

In [68]:
nba_2016_players = nba_2016_players[~nba_2016_players.Player.str.startswith('Player')]

In [69]:
nba_2016_players = nba_2016_players.apply(pd.to_numeric, errors = 'ignore')

In [70]:
nba_2015_players = pd.concat([nba_players_2015, nba_players_2015_advanced], axis = 1)

In [71]:
nba_2015_players.fillna(0, inplace = True)

In [72]:
nba_2015_players = nba_2015_players[~nba_2015_players.Player.str.startswith('Player')]

In [73]:
nba_2015_players = nba_2015_players.apply(pd.to_numeric, errors = 'ignore')

# Dropping Duplicate data for players who played on multiple teams

In [74]:
nba_2019_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

# dropping instances where a player played for more than 1 team by just keeping his 
# total numbers (for now) may need to change up slightly depending on whether or not 
# its necessary to keep the players teams for that season seperate

In [75]:
nba_2018_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

In [76]:
nba_2017_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

In [77]:
nba_2016_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

In [78]:
nba_2015_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

# Playing with the player data

In [95]:
lowry = nba_2019_players[nba_2019_players['Player'] == 'Kyle Lowry']
kawhi = nba_2019_players[nba_2019_players['Player'] == 'Kawhi Leonard']
random_concat = pd.concat([lowry, kawhi], axis = 1, ignore_index = False)

In [92]:
random_concat

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.3,6.1,3.4,9.5,0.224,6.1,1.1,7.2,4.7,2019.0
426,Kyle Lowry,PG,32.0,TOR,65.0,65.0,34.0,4.7,11.4,0.411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Importing Team Data

In [112]:
nba_teams_2019_csv = pd.read_csv('nba_teams_misc.csv')

In [113]:
nba_teams_2019_html

   Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%,TOV%,DRB%,FT/FGA,Arena,Attend.,Attend./G
0   1,Milwaukee Bucks*,26.9,60,22,61,21,8.87,-0.82...
1   2,Golden State Warriors*,28.4,57,25,56,26,6.46...
2   3,Toronto Raptors*,27.3,58,24,56,26,6.09,-0.60...
3   4,Utah Jazz*,27.3,50,32,54,28,5.26,0.03,5.28,1...
4   5,Houston Rockets*,29.2,53,29,53,29,4.77,0.19,...
5   6,Portland Trail Blazers*,26.2,53,29,51,31,4.2...
6   7,Denver Nuggets*,24.9,54,28,51,31,3.95,0.24,4...
7   8,Boston Celtics*,25.7,49,33,52,30,4.44,-0.54,...
8   9,Oklahoma City Thunder*,25.7,49,33,50,32,3.40...
9   10,Indiana Pacers*,27.0,48,34,50,32,3.33,-0.57...
10  11,Philadelphia 76ers*,26.4,51,31,48,34,2.70,-...
11  12,San Antonio Spurs*,28.8,48,34,45,37,1.68,0....
12  13,Los Angeles Clippers*,27.2,48,34,43,39,0.85...
13  14,Orlando Magic*,25.7,42,40,43,39,0.71,-0.43,...
14  15,Brooklyn Nets*,25.4,42,40,41,41,-0.07,-0.33...
15  16,Miami Heat,27.0,39,43,40,42,-0.23,-0.22,-0....
16  17,Detroit Pistons*,26.9,41,41,40,42,-0.24,-0....
17  18,Sacramento Kings,24.8,39,43,38,44,-1.12,0.3...
18  19,Dallas Mavericks,26.9,33,49,38,44,-1.28,0.4...
19  20,Minnesota Timberwolves,26.2,36,46,37,45,-1....
20  21,New Orleans Pelicans,25.7,33,49,38,44,-1.33...
21  22,Charlotte Hornets,26.6,39,43,38,44,-1.10,-0...
22  23,Los Angeles Lakers,26.2,37,45,37,45,-1.72,0...
23  24,Memphis Grizzlies,27.7,33,49,34,48,-2.60,0....
24  25,Washington Wizards,26.5,32,50,34,48,-2.90,-...
25  26,Atlanta Hawks,25.1,29,53,27,55,-6.02,-0.04,...
26  27,Chicago Bulls,24.0,22,60,21,61,-8.41,0.10,-...
27  28,Phoenix Suns,24.0,19,63,19,63,-9.34,0.73,-8...
28  29,New York Knicks,23.4,17,65,19,63,-9.21,0.28...
29  30,Cleveland Cavaliers,25.2,19,63,19,63,-9.61,...