In [1]:
import pandas as pd

# 2019 nba players stats

In [2]:
nba_players_list_2019 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_per_game.html')

In [3]:
nba_players_2019 = nba_players_list_2019[0]

In [4]:
year_2019 = [2019 for x in nba_players_2019['Player']]

In [5]:
nba_players_2019['year'] = year_2019

In [6]:
nba_players_2019.drop(columns = 'Rk', inplace = True)

In [7]:
nba_players_2019.rename(columns = {'MP': 'MPG'}, inplace = True)

In [8]:
nba_players_list_2019_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2019_advanced.html')

In [9]:
nba_players_2019_advanced = nba_players_list_2019_advanced[0]

In [10]:
nba_players_2019_advanced['year'] = year_2019

In [11]:
nba_players_2019_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2018 nba players stats

In [12]:
nba_players_list_2018 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2018_per_game.html')

In [13]:
nba_players_2018 = nba_players_list_2018[0]

In [14]:
year_2018 = [2018 for x in nba_players_2018['Player']]

In [15]:
nba_players_2018['year'] = year_2018

In [16]:
nba_players_2018.drop(columns = 'Rk', inplace = True)

In [17]:
nba_players_2018.rename(columns = {'MP': 'MPG'}, inplace = True)

In [18]:
nba_players_list_2018_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2018_advanced.html')

In [19]:
nba_players_2018_advanced = nba_players_list_2018_advanced[0]

In [20]:
nba_players_2018_advanced['year'] = year_2018

In [21]:
nba_players_2018_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2017 nba players stats

In [22]:
nba_players_list_2017 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2017_per_game.html')

In [23]:
nba_players_2017 = nba_players_list_2017[0]

In [24]:
year_2017 = [2017 for x in nba_players_2017['Player']]

In [25]:
nba_players_2017['year'] = year_2017

In [26]:
nba_players_2017.drop(columns = 'Rk', inplace = True)

In [27]:
nba_players_2017.rename(columns = {'MP': 'MPG'}, inplace = True)

In [28]:
nba_players_list_2017_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2017_advanced.html')

In [29]:
nba_players_2017_advanced = nba_players_list_2017_advanced[0]

In [30]:
nba_players_2017_advanced['year'] = year_2017

In [31]:
nba_players_2017_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2016 nba players stats

In [32]:
nba_players_list_2016 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_per_game.html')

In [33]:
nba_players_2016 = nba_players_list_2016[0]

In [34]:
year_2016 = [2016 for x in nba_players_2016['Player']]

In [35]:
nba_players_2016['year'] = year_2016

In [36]:
nba_players_2016.drop(columns = 'Rk', inplace = True)

In [37]:
nba_players_2016.rename(columns = {'MP': 'MPG'}, inplace = True)

In [38]:
nba_players_list_2016_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_advanced.html')

In [39]:
nba_players_2016_advanced = nba_players_list_2016_advanced[0]

In [40]:
nba_players_2016_advanced['year'] = year_2016

In [41]:
nba_players_2016_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# 2015 nba players stats

In [42]:
nba_players_list_2015 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_per_game.html')

In [43]:
nba_players_2015 = nba_players_list_2015[0]

In [44]:
year_2015 = [2015 for x in nba_players_2015['Player']]

In [45]:
nba_players_2015['year'] = year_2015

In [46]:
nba_players_2015.drop(columns = 'Rk', inplace = True)

In [47]:
nba_players_2015.rename(columns = {'MP': 'MPG'}, inplace = True)

In [48]:
nba_players_list_2015_advanced = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_advanced.html')

In [49]:
nba_players_2015_advanced = nba_players_list_2015_advanced[0]

In [50]:
nba_players_2015_advanced['year'] = year_2015

In [51]:
nba_players_2015_advanced.drop(columns = ['Rk', 'Unnamed: 19', 'Unnamed: 24', 
                                          'Player', 'Pos', 'Age', 'Tm', 'G'], inplace = True)

# Concating the Per game stats with Advanced Stats and cleaning data to get all ints/floats

In [53]:
nba_2019_players = pd.concat([nba_players_2019, nba_players_2019_advanced], axis = 1)

In [54]:
nba_2019_players.fillna(0, inplace = True)

In [55]:
nba_2019_players = nba_2019_players[~nba_2019_players.Player.str.startswith('Player')]

# returns all rows in the dataframe that dont start with Player

In [56]:
nba_2019_players = nba_2019_players.apply(pd.to_numeric, errors = 'ignore')

# applies a numeric type (float or int) to all columns that have entirely numeric values in them
# if a column does not have a numeric value it will ignore and move on

# that is why i had to first remove all the na values and turn them to 0's

In [57]:
nba_2018_players = pd.concat([nba_players_2018, nba_players_2018_advanced], axis = 1)

In [58]:
nba_2018_players.fillna(0, inplace = True)

In [60]:
nba_2018_players = nba_2018_players[~nba_2018_players.Player.str.startswith('Player')]

In [61]:
nba_2018_players = nba_2018_players.apply(pd.to_numeric, errors = 'ignore')

In [62]:
nba_2017_players = pd.concat([nba_players_2017, nba_players_2017_advanced], axis = 1)

In [63]:
nba_2017_players.fillna(0, inplace = True)

In [64]:
nba_2017_players = nba_2017_players[~nba_2017_players.Player.str.startswith('Player')]

In [65]:
nba_2017_players = nba_2017_players.apply(pd.to_numeric, errors = 'ignore')

In [66]:
nba_2016_players = pd.concat([nba_players_2016, nba_players_2016_advanced], axis = 1)

In [67]:
nba_2016_players.fillna(0, inplace = True)

In [68]:
nba_2016_players = nba_2016_players[~nba_2016_players.Player.str.startswith('Player')]

In [69]:
nba_2016_players = nba_2016_players.apply(pd.to_numeric, errors = 'ignore')

In [70]:
nba_2015_players = pd.concat([nba_players_2015, nba_players_2015_advanced], axis = 1)

In [71]:
nba_2015_players.fillna(0, inplace = True)

In [72]:
nba_2015_players = nba_2015_players[~nba_2015_players.Player.str.startswith('Player')]

In [73]:
nba_2015_players = nba_2015_players.apply(pd.to_numeric, errors = 'ignore')

# Dropping Duplicate data for players who played on multiple teams

In [74]:
nba_2019_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

# dropping instances where a player played for more than 1 team by just keeping his 
# total numbers (for now) may need to change up slightly depending on whether or not 
# its necessary to keep the players teams for that season seperate

In [75]:
nba_2018_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

In [76]:
nba_2017_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

In [77]:
nba_2016_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

In [78]:
nba_2015_players.drop_duplicates(subset = ['Player'], keep = 'first', inplace = True)

# Playing with the player data

In [126]:
Raptors = nba_2019_players[nba_2019_players['Tm'] == 'TOR']

In [130]:
Raptors = Raptors.sort_values('MPG', ascending = False)[0:8]

In [131]:
Raptors.groupby('Tm').sum()

,Age,G,GS,MPG,FG,FGA,FG%,3P,3PA,3P%,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,year
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,213,550,372,221.3,40.2,83.9,3.796,12.4,32.8,2.942,...,160.1,24.9,21.2,46.1,1.106,7.8,3.8,11.5,14.7,16152

# Importing Team Data